#maincontainer{
    background-color: burlywood;
  }
  h1{
    background-color: bisque;
  }
  
  h1,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  form button {
    color: rgba(56, 56, 197, 0.699);
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: gray;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: rgb(223, 84, 84);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
  }
  .complete-btn {
    background: rgb(101, 101, 230);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-check-circle,
  .fa-times-circle {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  