@media only screen and (min-width: 30em) {

	.box {
		max-width: 520px;
	}

	#firstsection {
		max-width: 520px;
		margin-bottom: auto;
	}

	/*forecast *************************************************************/

	#hide,
	grid-container,
	grid-item {
		display: grid;
	}

	#hide {
		margin-bottom: 2em;
	}

	#hide h3 {
		text-align: center;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		padding: 2px;
		max-width: 520px;
		margin-left: auto;
		margin-right: auto;
	}

	.grid-header {
		padding: 20px;
		text-align: center;
		font-weight: bold;
	}

	.grid-image {
		padding: 20px 20px 5px 20px;
		text-align: center;
	}

	.grid-f {
		padding: 5px 20px 20px 20px;
		text-align: center;
	}

	/*end of forecast **************************************************************************/
