h2 {
  text-align: center;
}

#firstsection {
  display: block;
  margin: 10px auto;
  margin-bottom: 3.5em;
}

/* summary*********************/
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .25rem;
}

.details .label {
  text-align: right;
}

.details .value {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 60em;
  margin: 0 auto;
}

.summary {
  padding: 0 .75rem 1rem;
  color: #ffffff;
  width: 300px;
  margin: 20px auto;
}

.summary h3 {
  padding-bottom: 2px;
  margin: 5px 5px 10px 5px;
}

.summary div {
  line-height: 1.2;
  padding: .1rem;
  margin: 0;
}

/***End of summary********************************/

#hide,
grid-container,
grid-item {
  display: none;
}

footer {
  text-align: center;
  padding: .5rem;
  color: black;
}

footer a {
  color: white;
}

/********Search Container*********/

#searchContainer {
  margin-left: auto;
  margin-right: auto;
}